@using EmailService.Web.ViewModels.Templates
@model AddTranslationViewModel
@{
    ViewBag.Title = "Add Translation";
}

<form asp-action="AddTranslation" asp-controller="Templates" method="post">
    <input asp-for="TemplateId" type="hidden" />
    <div class="form-group">
        <label asp-for="Language">Select language</label>
        <select asp-for="Language" asp-items="@Model.Languages" class="form-control">
            <option value="">-- SELECT --</option>
        </select>
        <span class="help-block">Existing translations are greyed-out</span>
    </div>
    <div class="form-group">
        <label asp-for="SubjectTemplate">Subject</label>
        <input asp-for="SubjectTemplate" class="form-control" autocomplete="off" />
        <span asp-validation-for="SubjectTemplate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BodyTemplate">Body</label>
        <textarea asp-for="BodyTemplate" class="form-control" rows="20"></textarea>
        <div id="BodyTemplate_Editor"></div>
        <span asp-validation-for="BodyTemplate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add translation</button>
    <a asp-action="Details" asp-route-id="@Model.TemplateId" class="btn btn-link">Cancel</a>
</form>

@section scripts {
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script>
        bindEditor("BodyTemplate", "ace/mode/html");
        bindEditor("SampleData", "ace/mode/json");
    </script>
}