@using EmailService.Web.ViewModels.Templates
@model EditTemplateViewModel
@{
    ViewBag.Title = "Edit " + Model.Name;
}

<form asp-action="Edit" asp-controller="Templates" method="post">
    <input asp-for="Id" type="hidden" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-3">
            <fieldset class="well">
                <div class="form-group">
                    <label asp-for="Name">Template name</label>
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Usage notes</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <span class="help-block">Use this to describe what the template is for and how it should be used</span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </fieldset>
        </div>
        <div class="col-sm-9">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">Template</a></li>
                    <li role="presentation"><a href="#json" aria-controls="json" role="tab" data-toggle="tab">Data Model</a></li>
                    <li role="presentation"><a href="#preview" aria-controls="json" role="tab" data-toggle="tab">Preview</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="template">
                        <div class="form-group">
                            <label asp-for="SubjectTemplate">Subject</label>
                            <input asp-for="SubjectTemplate" class="form-control" autocomplete="off" />
                            <span asp-validation-for="SubjectTemplate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BodyTemplate">Body</label>
                            <textarea asp-for="BodyTemplate" class="form-control" rows="20"></textarea>
                            <div id="BodyTemplate_Editor"></div>
                            <span asp-validation-for="BodyTemplate" class="text-danger"></span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="json">
                        <p>
                            Use this to describe the data model for this template. The values don't matter, but will be used
                            to generate previews for this template and help for client applications trying to use it.
                        </p>
                        <div class="form-group">
                            <label asp-for="SampleData">Sample data</label>
                            <textarea asp-for="SampleData" class="form-control" rows="20"></textarea>
                            <div id="SampleData_Editor"></div>
                            <span asp-validation-for="SampleData" class="text-danger"></span>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="preview">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script>
        bindEditor("BodyTemplate", "ace/mode/html");
        bindEditor("SampleData", "ace/mode/json");
    </script>
}