@{
    ViewBag.Title = "No applications available";
}

<div class="well">
    <h1>No applications available</h1>
    <p class="lead">Sorry, but you need to create an application before you can set up a template</p>
    <p>
        <a asp-action="Create" asp-controller="Applications" class="btn btn-primary">Create application</a>
    </p>
</div>