@model ActivationViewModel
@{
    ViewBag.Title = $"Reactivate {Model.Name}";
}

<fieldset>
    <form asp-action="Reactivate" asp-controller="Templates" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <div class="alert alert-warning">Are you sure you want to reactivate this template?</div>
        <button type="submit" class="btn btn-success">Reactivate</button>
        <a asp-action="Details" asp-route-id="@Model.TemplateId" class="btn btn-link">Cancel</a>
    </form>
</fieldset>