@using EmailService.Web.ViewModels.Applications
@model EditApplicationViewModel
@{ 
    ViewBag.Title = $"Edit {Model.Name}";
}

<form asp-action="Edit" asp-controller="Applications" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Name">Application name</label>
        <input asp-for="Name" class="form-control" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SenderAddress">Sender email address</label>
        <input asp-for="SenderAddress" class="form-control" type="email" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="SenderAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SenderName">Sender display name</label>
        <input asp-for="SenderName" class="form-control" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="SenderName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-link">Cancel</a>
</form>