@model ActivationViewModel
@{
    ViewBag.Title = $"Reactivate {Model.Name}";
}

<fieldset>
    <form asp-action="Reactivate" asp-controller="Applications" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <input asp-for="IsActive" type="hidden" />
        <div class="alert alert-warning">Are you sure you want to reactivate this application?</div>
        <button type="submit" class="btn btn-success">Reactivate</button>
    </form>
</fieldset>