@using EmailService.Web.ViewModels.Transports
@model EditSendGridViewModel
@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<form asp-action="EditSendGrid" asp-controller="Transports" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ApiKey"></label>
        <input asp-for="ApiKey" class="form-control" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="ApiKey" class="text-danger"></span>
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="SenderName"></label>
        <input asp-for="SenderName" class="form-control" autocomplete="off" spellcheck="false" />
        <span asp-validation-for="SenderName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SenderAddress"></label>
        <input asp-for="SenderAddress" type="email" class="form-control" />
        <span asp-validation-for="SenderAddress" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-link">Cancel</a>
</form>